gradio==5.13.1
numpy==1.22.0
Pillow==10.4.0
moviepy==1.0.3
pytube==15.0.0
TTS==0.22.0
decord==0.6.0
torch==2.3.1
transformers==4.48.1
langchain==0.3.15
soundfile==0.13.0
scipy==1.11.4
scenedetect==0.6.5.2
sentencepiece==0.2.0
protobuf==5.29.3
sacremoses>=0.0.53 
